<h4>Categorias</h4>
<ul class="list-group"></ul>
{{#each categorias}}
    <a href="/categorias/{{slug}}" class="list-group-item list-group-item-action ">
    {{nome}}
    </a>
{{else}}
    <li class="list-group-item"></li>
{{/each}}
</ul>